{{- $posts := where .Site.RegularPages "Section" "posts" -}}
{{- $posts = $posts.ByDate.Reverse -}}
{{- $postCount := len $posts -}}
{{- $cheers := "um" -}}
{{- if gt $postCount 210 -}}
  {{- $cheers = "excellent" -}}
{{- else if gt $postCount 130 -}}
  {{- $cheers = "great" -}}
{{- else if gt $postCount 80 -}}
  {{- $cheers = "good" -}}
{{- else if gt $postCount 50 -}}
  {{- $cheers = "nice" -}}
{{- else if gt $postCount 30 -}}
  {{- $cheers = "ok" -}}
{{- end -}}

<div class="collapse wrap">
  <h2 class="item header">
    <a href="{{ "/" | relURL }}">{{ partial "shoka/i18n.html" (dict "key" "menu.home" "ctx" .) }}</a>
    <small>/</small>
    {{ partial "shoka/i18n_p.html" (dict "key" "counter.archive_posts" "ctx" . "count" $postCount) }}
    <small class="cheers">{{ partial "shoka/i18n.html" (dict "key" (printf "cheers.%s" $cheers) "ctx" .) }} {{ partial "shoka/i18n.html" (dict "key" "keep_on" "ctx" .) }}</small>
  </h2>

  {{- range $year := $posts.GroupByDate "2006" -}}
    {{- $yearID := printf "archive-%s" $year.Key -}}
    <span id="{{ $yearID }}"></span>
    {{- range $month := $year.Pages.GroupByDate "01" -}}
      {{- $monthID := printf "archive-%s-%s" $year.Key $month.Key -}}
      <h3 class="item section" id="{{ $monthID }}">
        <a href="#{{ $yearID }}">{{ $year.Key }} {{ partial "shoka/i18n.html" (dict "key" "symbol.year" "ctx" $) }}</a>
        <small>/</small>
        <a href="#{{ $monthID }}">{{ $month.Key }} {{ partial "shoka/i18n.html" (dict "key" "symbol.month" "ctx" $) }}</a>
        <small>( {{ len $month.Pages }} )</small>
      </h3>

      {{- range $month.Pages.ByDate.Reverse -}}
        <article class="item normal" itemscope itemtype="http://schema.org/Article">
          <div class="meta">
            <time itemprop="dateCreated" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" content="{{ .Date.Format "2006-01-02" }}">
              {{ .Date.Format "01-02" }}
            </time>
            {{- with .Params.categories -}}
              {{- $last := index . (sub (len .) 1) -}}
              <span><a href="{{ printf "/categories/%s/" (urlize $last) | relURL }}">{{ $last }}</a></span>
            {{- end -}}
          </div>

          <div class="title">
            {{- if .Params.link -}}
              {{- $postTitleIcon := "<i class=\"ic i-link-alt\"></i>" -}}
              {{- $postText := .Title | default .Params.link -}}
              {{- partial "shoka/url.html" (dict "href" .Params.link "text" (printf "%s%s" $postText $postTitleIcon) "class" "external" "itemprop" "url" "ctx" $) -}}
            {{- else -}}
              <a href="{{ .RelPermalink }}" itemprop="url">
                <span itemprop="name">{{ .Title | default (partial "shoka/i18n.html" (dict "key" "post.untitled" "ctx" $)) }}</span>
              </a>
            {{- end -}}
          </div>
        </article>
      {{- end -}}
    {{- end -}}
  {{- end -}}
</div>
